@charset "UTF-8";

@font-face {
  font-family: "petshop";
  src:url("../fonts/Petshop/petshop.eot");
  src:url("../fonts/Petshop/petshop.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Petshop/petshop.woff") format("woff"),
    url("../fonts/Petshop/petshop.ttf") format("truetype"),
    url("../fonts/Petshop/petshop.svg#petshop") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "petshop" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "petshop" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-404:before {
  content: "\61";
}
.icon-amphibians:before {
  content: "\62";
}
.icon-arrow-down:before {
  content: "\63";
}
.icon-arrow-l:before {
  content: "\64";
}
.icon-arrow-r:before {
  content: "\65";
}
.icon-basket:before {
  content: "\66";
}
.icon-bird:before {
  content: "\67";
}
.icon-calendar:before {
  content: "\68";
}
.icon-card:before {
  content: "\69";
}
.icon-cash:before {
  content: "\6a";
}
.icon-cat:before {
  content: "\6b";
}
.icon-cert:before {
  content: "\6c";
}
.icon-check:before {
  content: "\6d";
}
.icon-check-2:before {
  content: "\6e";
}
.icon-compas:before {
  content: "\6f";
}
.icon-copyright:before {
  content: "\70";
}
.icon-dog:before {
  content: "\71";
}
.icon-eceommerce:before {
  content: "\72";
}
.icon-fb:before {
  content: "\73";
}
.icon-fish:before {
  content: "\74";
}
.icon-graph:before {
  content: "\75";
}
.icon-homa:before {
  content: "\76";
}
.icon-horse:before {
  content: "\77";
}
.icon-insta:before {
  content: "\78";
}
.icon-list:before {
  content: "\79";
}
.icon-location:before {
  content: "\7a";
}
.icon-lock:before {
  content: "\41";
}
.icon-logo:before {
  content: "\42";
}
.icon-ok:before {
  content: "\43";
}
.icon-plus:before {
  content: "\44";
}
.icon-precent:before {
  content: "\45";
}
.icon-search:before {
  content: "\46";
}
.icon-star:before {
  content: "\47";
}
.icon-support:before {
  content: "\48";
}
.icon-thumbs-up:before {
  content: "\49";
}
.icon-time:before {
  content: "\4a";
}
.icon-twitter:before {
  content: "\4b";
}
.icon-user:before {
  content: "\4c";
}
.icon-vk:before {
  content: "\4d";
}
.icon-x:before {
  content: "\4e";
}
