@charset "utf-8"
html, body, div, span, applet, object, iframe,
h1, h2, f, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
  display: block

body
  line-height: 1

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after,
q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

*
  box-sizing: border-box


@import "fonts"
@import "icons"
@import "plugins/slick"
@import "plugins/remodal"
@import "plugins/remodal-theme"
@import "plugins/baron"
@import "plugins/selectric"

$orange: #f68912
$blue: #00adc2

body
  font-family: 'ProximaNova'
  background-color: #fff
  overflow-x: hidden

.container
  width: 1200px
  margin: auto

a
  outline: none


.header
  &-row
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
  &-logo
    font-size: 67px
    color: $orange
    padding-top: 3px
    margin-right: 45px
    a
      text-decoration: none
      color: $orange
  &-buttons
    &-list
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
      font-size: 23px
      padding-top: 22px
      max-width: 109px
      li
        margin-right: 21px
        &:last-child
          margin-right: 0
        a
          color: #313131
          text-decoration: none
          transition: all 500ms
          &:hover
            color: $blue
            opacity: 1
  &-menu
    &-list
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
      padding-top: 26px
      margin-right: 10px
      li
        margin-right: 36.6px
        a
          opacity: 0.7
          color: #313131
          font-size: 12px
          font-weight: 300
          text-transform: uppercase
          text-decoration: none
          transition: all 500ms
          outline: none
          &:hover
            color: $blue
            opacity: 1
  &-contacts
    text-align: right
    font-size: 13px
    font-weight: 600
    margin-left: auto
    a
      text-decoration: none
      letter-spacing: -0.1px
      color: $blue
      transition: all 500ms
      &:hover
        color: #313131
        opacity: 0.7
    &-phone
      font-size: 16px
      padding-top: 21px
      letter-spacing: -0.1px
      padding-bottom: 4px


.navigation
  box-shadow: 0 5px 15px rgba(23, 26, 31, 0.2)
  background-color: $blue
  height: 43px
  position: relative
  z-index: 2
  overflow: hidden
  margin-top: -10px
  &-list
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    -ms-align-items: center
    -webkit-align-items: center
    align-items: center
    -webkit-justify-content: space-between
    -moz-justify-content: space-between
    -ms-justify-content: space-between
    -o-justify-content: space-between
    justify-content: space-between
    li
      position: relative
      text-align: center
      &:after
        content: ''
        display: block
        width: 1px
        height: 43px
        background-color: #fff
        opacity: 0.4
        position: absolute
        top: 0
        right: 0
      &:first-child
        a
          padding-left: 0
      &:last-child
        &:after
          display: none
        a
          padding-right: 0
      a
        height: 43px
        display: block
        line-height: 43px
        color: #ffffff
        font-size: 13px
        text-decoration: none
        text-transform: uppercase
        white-space: nowrap
        padding-left: 46px
        padding-right: 46px
        transition: all 500ms
        &:hover
          opacity: 0.7

.main
  &-row
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
  &-menu
    width: 237px
    height: 461px
    border-radius: 0 0 0 10px
    border: 1px solid #e8e8e8
    background-color: #ffffff
    padding: 25px 53px 35px 25px
    li
      margin-bottom: 16px
      a
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        -ms-align-items: center
        -webkit-align-items: center
        align-items: center
        text-decoration: none
        line-height: 17px
        color: #000
        transition: all 500ms
        &:hover
          color: $orange
    &-image
      width: 37px
      text-align: center
      margin-right: 17px
    &-title
      font-size: 14px
      text-transform: uppercase
  &-slider
    width: 964px
    height: 461px
    border-bottom-right-radius: 10px
    overflow: hidden
    &-title
      color: #313131
      font-size: 36px
      font-weight: 700
      text-transform: uppercase
      padding-top: 69px
      padding-left: 48px
      line-height: 42px
    &-item
      width: 100%
      height: 461px
      outline: none
      background-repeat: no-repeat
      background-size: cover
    .slick-dots
      position: absolute
      display: block
      width: 100%
      bottom: 16px
      text-align: center
      ul
        width: 100%
        text-align: center
      li
        display: inline-block
        margin-left: 5px
        margin-right: 5px
        button
          width: 10px
          height: 10px
          background-color: #ffffff
          padding: 0 !important
          border: none
          border-radius: 50%
          outline: none
          cursor: pointer
          transition: all 500ms
          text-indent: -9999px
          &:hover
            opacity: 0.8
        &.slick-active
          button
            background-color: $blue


.about
  padding-top: 50px
  &-list
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    -ms-align-items: center
    -webkit-align-items: center
    align-items: center
    -webkit-justify-content: space-between
    -moz-justify-content: space-between
    -ms-justify-content: space-between
    -o-justify-content: space-between
    justify-content: space-between
  &-item
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
  &-icon
    color: $blue
    font-size: 42px
    margin-right: 23px
  &-delivery
    padding-bottom: 51px!important
    .about
      &-item
        &:nth-child(1)
          .about
            &-icon
              margin-left: -4px
              margin-right: 14px
        &:nth-child(2)
          .about
            &-icon
              margin-left: -10px
              margin-right: 19px
  &-pay
    .about
      &-icon
        font-size: 47px
        margin-right: 18px
      &-item
        &:nth-child(2)
          .about-icon
            font-size: 48px
            margin-top: 6px
            margin-left: 18px
          .about-title
            padding-top: 5px
        &:nth-child(3)
          .about-icon
            font-size: 42px
            margin-right: 15px
            margin-top: -2px
          .about-title
            margin-top: -6px
  &-title
    text-transform: uppercase
    font-size: 18px
    color: #313131
    line-height: 22px
    span
      display: block
      color: #313131
      font-size: 14px
      font-weight: 300
      padding-top: 2px
      text-transform: none


.catalog
  position: relative
  .container
    position: relative
  &-row
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-wrap: wrap
  &-info
    width: 300px
    padding-top: 83px
    position: relative
    z-index: 2
    a
      color: #191919
      text-decoration: none
    &-icon
      font-size: 66px
      margin-left: -10px
      margin-top: -2px
    &-title
      color: #000000
      font-size: 32px
      font-weight: 700
      padding-top: 10px
      text-transform: uppercase
  &-arrow
    width: 31px
    height: 31px
    border: 2px solid $blue
    border-radius: 50%
    text-align: center
    line-height: 31px
    cursor: pointer
    position: absolute
    margin-top: -67px
    right: 1px
    padding-left: 3px
    padding-top: 2px
    &-left
      right: 43px
      padding-left: 0
    &:hover
      opacity: 0.8
  &-tabs
    &-nav
      padding-top: 120px
      margin-bottom: 43px
      &-title
        margin-top: -5px
        margin-bottom: -7px
      ul
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        li
          margin-right: 7px
          &.active
            a
              color: $orange
              border: 1px solid $orange
          a
            padding: 7px 25px
            opacity: 0.5
            border: 1px solid transparent
            color: #313131
            font-size: 16px
            font-weight: 400
            text-transform: uppercase
            text-decoration: none
            transition: all 500ms
            border-radius: 20px
            &:hover
              opacity: 1
    &-list
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
      -webkit-flex-wrap: wrap
      -moz-flex-wrap: wrap
      -ms-flex-wrap: wrap
      -o-flex-wrap: wrap
      position: relative
      flex-wrap: wrap
    &-item
      opacity: 0
      visibility: hidden
      transition: all 500ms
      max-height: 0
      position: absolute
      top: 0
      &.active
        opacity: 1
        max-height: none
        visibility: visible
        position: static
  &-list
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-wrap: wrap
    max-width: 1200px
    overflow: hidden
    padding-bottom: 18px
    &-category
      margin-top: 25px
      .catalog-item
        margin-bottom: 47px
    &-3
      margin-left: -300px
      padding-left: 300px
      padding-bottom: 69px
      .slider-arrow-left
        width: 31px
        height: 31px
        border: 2px solid $blue
        padding-right: 2px
        padding-top: 1px
        position: absolute
        text-align: center
        line-height: 31px
        border-radius: 50%
        left: 0
        z-index: 5
        top: 265px
        cursor: pointer
        &:hover
          opacity: 0.8
      .slider-arrow-right
        width: 31px
        height: 31px
        border: 2px solid $blue
        padding-left: 2px
        padding-top: 1px
        position: absolute
        text-align: center
        line-height: 31px
        border-radius: 50%
        left: 44px
        z-index: 5
        top: 265px
        cursor: pointer
        &:hover
          opacity: 0.8
    &-4
      padding-bottom: 0
    .slick-track
      padding-bottom: 18px
  &-item
    outline: none
    width: 300px
    border: 1px solid #efeeec
    padding: 20px
    position: relative
    padding-bottom: 50px
    box-shadow: 0 0 38px rgba(0, 0, 0, 0.07)
  &-stars
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    position: absolute
    margin-top: -3px
    margin-left: -2px
    font-size: 14px
    color: #e0e0e0
  &-labels
    position: absolute
    margin-left: 179px
    font-size: 12px
    font-weight: 400
    text-transform: uppercase
    margin-top: -5px
    line-height: 18px
    z-index: 2
    .red
      color: #d5313a
    .blue
      color: $blue
  &-star
    margin-right: -3px
    &--active
      color: #ffae00
  &-title
    color: #031313
    font-weight: 600
    letter-spacing: -0.1px
    font-size: 18px
    line-height: 21px
    min-height: 42px
    overflow: hidden
    max-height: 42px
    a
      color: #031313
      text-decoration: none
  &-image
    height: 248px
    position: relative
    img
      position: absolute
      left: 0
      right: 0
      margin: auto
      top: 0
      bottom: 0
      max-height: 90%
      max-width: 100%
  &-price
    color: #d5313a
    font-size: 21px
    padding-top: 17px
    font-weight: 700
    text-transform: uppercase
    span
      font-family: 'PTRoubleSans'
      font-weight: normal
  &-button
    a
      width: 42px
      height: 42px
      display: block
      position: absolute
      bottom: -18px
      border-radius: 21px
      background-color: $blue
      text-align: center
      line-height: 42px
      text-decoration: none
      color: #fff
      right: 20px
      transition: all 500ms
      i
        font-size: 12px
        position: absolute
        right: 15px
        top: 2px
      span
        max-width: 0
        display: inline-block
        overflow: hidden
        max-height: 0
        text-transform: uppercase
        font-size: 15px
        margin-left: -10px
        transition: all 500ms
      &:hover
        width: 146px
        span
          max-height: none
          max-width: none
    &.yep
      a
        line-height: 46px
        transition: all 100ms
        padding-left: 2px
        &:hover
          width: 42px

.title
  color: #313131
  font-size: 26px
  font-weight: 700
  text-transform: uppercase


.adventages
  padding-top: 116px
  padding-bottom: 60px
  &-list
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    -webkit-justify-content: space-between
    -moz-justify-content: space-between
    -ms-justify-content: space-between
    -o-justify-content: space-between
    justify-content: space-between
    padding-top: 24px
  &-item
    width: 380px
    height: 220px
    border-radius: 10px
    text-align: center
    border: 1px solid $blue
    background-color: #ffffff
    &-icon
      font-size: 80px
      color: $blue
      padding-top: 41px
    &-title
      color: #313131
      font-size: 21px
      padding-top: 10px
      font-weight: 400

.banner
  padding-bottom: 78px
  &--top
    background-image: url(../img/banner-bg.jpg)
    background-position: 50% 50%
    background-size: cover
    padding-bottom: 0
    margin-bottom: -4px
    .banner-row
      background: none
  &-row
    width: 100%
    height: 200px
    background-image: url(../img/banner-bg.jpg)
    background-position: 50% 50%
    background-size: cover
    border-radius: 10px
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    a
      text-decoration: none
      color: #fff
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
  &-image
    padding-left: 71px
    padding-right: 75px
    padding-top: 28px
  &-title
    padding-top: 70px
    font-size: 28px
    font-weight: 400
    text-transform: uppercase
    color: #fff
    line-height: 32px
    letter-spacing: 0.1px
    strong
      font-weight: 600

.banner-2
  margin-top: -10px
  margin-bottom: 60px
  &-row
    width: 100%
    background-image: url(../img/banner-2-bg.jpg)
    background-size: cover
    background-position: 50% 50%
    background-repeat: no-repeat
    border-radius: 10px
    height: 85px
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
  &-image
    margin-top: -31px
    margin-left: 29px
  &-title
    color: #feffff
    font-size: 18px
    font-weight: 400
    text-transform: uppercase
    padding-top: 33px
    margin-left: 46px
    letter-spacing: 0.1px
  &-button
    padding-top: 25px
    margin-left: 69px
    a
      color: #ffffff
      font-size: 13px
      font-weight: 400
      text-transform: uppercase
      border-radius: 18px
      border: 1px solid #ffffff
      display: inline-block
      text-decoration: none
      transition: all 500ms
      padding: 12px 27px 9px 28px
      &:hover
        color: #d5313a
        background-color: #fff

.bottom
  width: 100%
  height: 445px
  background-image: url(../img/bottom.jpg)
  background-position: 50% 0
  background-repeat: no-repeat
  background-color: #ececec
  margin-top: -10px
  &-title
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    -webkit-justify-content: center
    -moz-justify-content: center
    -ms-justify-content: center
    -o-justify-content: center
    justify-content: center
    padding-top: 83px
    padding-left: 7px
    &-left
      color: #d5313a
      font-size: 60px
      font-weight: 700
      text-transform: uppercase
      padding-right: 22px
    &-right
      color: #313131
      font-size: 21px
      font-weight: 400
      text-transform: uppercase
      padding-left: 7px
      padding-top: 4px
      line-height: 25px
  &-form
    width: 560px
    text-align: center
    margin: auto
    &-title
      padding-top: 33px
      color: #313131
      font-size: 18px
      font-weight: 400
      text-transform: uppercase
    &-subtitle
      color: #313131
      font-size: 18px
      font-weight: 300
      padding-top: 12px
    &-item
      padding-top: 23px
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
      -webkit-justify-content: space-between
      -moz-justify-content: space-between
      -ms-justify-content: space-between
      -o-justify-content: space-between
      justify-content: space-between
      -webkit-flex-wrap: wrap
      -moz-flex-wrap: wrap
      -ms-flex-wrap: wrap
      -o-flex-wrap: wrap
      flex-wrap: wrap
      &-text
        width: 275px
        height: 46px
        padding-left: 22px
        border: none
        outline: none
        border-radius: 23px
        margin-bottom: 20px
      &-button
        width: 197px
        height: 42px
        border-radius: 21px
        background-color: $blue
        border: none
        color: #ffffff
        font-size: 15px
        font-weight: 400
        text-transform: uppercase
        margin: auto
        letter-spacing: -0.4px
        outline: none
        cursor: pointer
        transition: all 500ms
        &:hover
          opacity: 0.8

.footer
  background-color: #444444
  &-text
    opacity: 0.7
    color: #313131
    font-size: 14px
    font-weight: 300
    padding-top: 60px
    line-height: 16px
  &-box
    margin-top: 60px
  &-row
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    min-height: 390px
    padding-top: 40px
  &-logo
    color: #e6e6e6
    font-size: 67px
    margin-top: -15px
    margin-right: 66px
  &-menu
    margin-right: 66px
    margin-top: 5px
    li
      a
        color: #ffffff
        font-size: 13px
        font-weight: 300
        line-height: 30px
        text-transform: uppercase
        text-decoration: none
  &-info
    margin-left: -1px
    margin-right: 62px
    &-title
      padding-top: 11px
      color: #ffffff
      font-size: 16px
      font-weight: 300
      padding-bottom: 12px
    &-text
      opacity: 0.6
      color: #ffffff
      font-size: 14px
      line-height: 17px
      padding-bottom: 31px
      font-weight: 300
  &-copy
    opacity: 0.5
    color: #ffffff
    font-size: 12px
    font-weight: 300
    text-align: center
    margin-top: -47px
    padding-bottom: 47px
    text-transform: uppercase
  &-contacts
    margin-left: 77px
    color: #fff
    &-phone
      font-size: 20px
      padding-top: 12px
      letter-spacing: 0.2px
    &-text
      padding-top: 12px
      opacity: 0.6
      color: #ffffff
      font-size: 14px
      line-height: 19px
      font-weight: 300
    &-mail
      margin-top: 50px
      letter-spacing: 0.2px
      a
        color: #fff
        font-size: 16px
        text-decoration: none
  &-social
    &-title
      padding-top: 11px
      color: #ffffff
      font-size: 16px
      font-weight: 300
      padding-bottom: 12px
    &-cards
      width: 171px
      height: 30px
      background-image: url(../img/cards.png)
      background-repeat: no-repeat
      background-size: contain
    &-link
      &-title
        padding-top: 11px
        color: #ffffff
        font-size: 16px
        font-weight: 300
        padding-bottom: 12px
        margin-bottom: 52px
      &-list        
        ul
          display: -webkit-flex
          display: -moz-flex
          display: -ms-flex
          display: -o-flex
          display: flex
          li
            a
              color: #fff
              text-decoration: none
              font-size: 32px
              margin-left: 2px
              margin-right: 9px
            &:nth-child(2)
              a
                font-size: 20px
                margin-top: 5px
                display: inline-block
                margin-left: 7px
            &:nth-child(3)
              a
                font-size: 22px
                margin-top: 3px
                display: inline-block
                margin-left: 7px

.page
  &-404
    padding-top: 119px
    &+.catalog
      .catalog
        &-tabs
          &-nav
            padding-top: 81px
    &-left
      width: 698px
      text-align: center
    &-right
      width: 502px
      font-size: 360px
      margin-top: -34px
      color: #838383
    &-row
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
    &-title
      color: $blue
      font-size: 230px
      font-weight: 300
    &-subtitle
      color: #838383
      font-size: 45px
      margin-top: -14px
      font-weight: 300
  &-image
    margin-bottom: 36px
  &-tags
    padding-top: 19px
    a
      color: $blue
      font-size: 12px
      font-weight: 400
      text-transform: uppercase
      text-decoration: none
      &:after
        content: '/'
        margin-left: 3px
      &:last-child
        &:after
          content: ''
  &-content
    padding-top: 39px
    &-about
      padding: 0
      padding-bottom: 30px
    &-subtitle
      color: #191919
      font-size: 16px
      font-weight: 300
      margin-top: -19px
      margin-bottom: 31px
    &-title
      margin-bottom: 33px
    &-offset
      padding-left: 59px
      font-size: 14px
      font-weight: 300
      padding-top: 3px
      padding-bottom: 24px
      p
        line-height: 17px!important
        margin-bottom: 16px !important
    &-body
      font-size: 16px
      font-weight: 300
      line-height: 17px
      strong
        font-weight: bold
      a
        color: $blue
        text-decoration: underline
        font-weight: 300
        &:hover
          text-decoration: none
      h2
        color: #191919
        font-size: 18px
        font-weight: 700
        text-transform: uppercase
        margin-bottom: 25px
      h3
        font-size: 14px
        font-weight: 700
        text-transform: uppercase
        margin-bottom: 1px
      h4
        font-size: 16px
        font-weight: 700
        text-transform: uppercase
        margin-bottom: 1px
      ul
        margin-bottom: 20px
        li
          position: relative
          text-indent: 9px
          margin-bottom: 2.6px
          &:before
            content: ''
            display: block
            width: 4px
            height: 4px
            background-color: #000
            position: absolute
            top: 7px
            left: -1px
            border-radius: 50%
      p
        line-height: 19px
        margin-bottom: 20px
  &-article
    &+.catalog
      .catalog
        &-tabs
          &-nav
            padding-top: 139px
    &-body
      ul
        margin-top: -9px
        margin-bottom: 35px
        li
          margin-bottom: 9px

.breadcrumb
  margin-bottom: 44px
  ul
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    li
      color: $blue
      font-size: 12px
      font-weight: 300
      text-transform: uppercase
      a
        color: #999999
        text-decoration: none
        &:after
          content: '/'
          margin-left: 10px
          margin-right: 10px

.cart
  &-empty
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    width: 510px
    margin: auto
    margin-bottom: -10px
    &-left
      width: 120px
      text-align: right
      font-size: 117px
      color: #f68912
      opacity: 0.8
      padding-top: 13px
    &-right
      padding-left: 28px
      padding-top: 18px
    &-title
      color: #031313
      font-size: 30px
      font-weight: 700
      margin-bottom: 18px
      text-transform: uppercase
    &-text
      color: #191919
      font-size: 16px
      font-weight: 300
      line-height: 26.03px
      a
        color: $blue
        text-decoration: none
        &:hover
          text-decoration: underline

.danger
  color: #d5313a

.pay
  &-title
    margin-top: 9px!important
    margin-bottom: 9px!important


.news
  &-item
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
  &-image
    margin-right: 41px
  &-title
    color: #191919
    font-size: 18px
    font-weight: 700
    text-transform: uppercase
    a
      text-decoration: none
      color: #191919
  &-top
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    padding-bottom: 13px
  &-date
    margin-left: auto
    opacity: 0.3
    color: #191919
    font-size: 12px
    font-weight: 300
    padding-top: 5px
  &-text
    opacity: 0.7
    color: #191919
    font-size: 16px
    font-weight: 300
    line-height: 19px
    min-height: 114px
    p
      margin-bottom: 20px
  &-bottom
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
  &-more
    margin-left: auto
  &-tags
    margin-top: 3px
    a
      color: $blue
      font-size: 12px
      font-weight: 400
      text-transform: uppercase
      text-decoration: none
      &:after
        content: '/'
        display: inline-block
        padding-left: 4px
      &:last-child
        &:after
          display: none
  &-item
    margin-bottom: 46px
  &-more
    margin-top: -19px
    a
      width: 119px
      height: 36px
      border-radius: 18px
      border: 2px solid #f78f1e
      color: #f78f1e
      font-size: 13px
      font-weight: 400
      text-transform: uppercase
      text-decoration: none
      text-align: center
      line-height: 35px
      display: block
      transition: all 500ms
      &:hover
        background-color: #f78f1e
        color: #fff


.more
  text-align: center
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  -webkit-justify-content: center
  -moz-justify-content: center
  -ms-justify-content: center
  -o-justify-content: center
  justify-content: center
  -ms-align-items: center
  -webkit-align-items: center
  align-items: center
  transition: all 500ms
  cursor: pointer
  &:hover
    opacity: 0.8
  &-icon
    width: 31px
    height: 31px
    border: 2px solid $blue
    border-radius: 50%
    line-height: 34px
  &-title
    color: $blue
    font-size: 13px
    font-weight: 400
    text-transform: uppercase
    padding-right: 12px
    cursor: pointer

.product
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  border-bottom: 2px solid #efeeec
  &-actions
    margin-left: 50px
    width: 147px
  &-image
    width: 412px
    &-main
      text-align: center
      padding-top: 5px
      padding-bottom: 32px
    &-thumb
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
      -webkit-justify-content: space-between
      -moz-justify-content: space-between
      -ms-justify-content: space-between
      -o-justify-content: space-between
      justify-content: space-between
      &-item
        border-radius: 3px
        overflow: hidden
        position: relative
        &--video
          &:hover
            &:after
              opacity: 0.2
          &:after
            content: ''
            position: absolute
            width: 100%
            height: 100%
            top: 0
            left: 0
            background-color: #000000
            opacity: 0.3
            cursor: pointer
            transition: all 300ms
          &:before
            content: ''
            display: block
            width: 36px
            height: 36px
            background-image: url(../img/play.svg)
            background-size: contain
            position: absolute
            top: 0
            left: 0
            bottom: 0
            right: 0
            margin: auto
            cursor: pointer
  &-table
    margin-top: 23px
    td
      &:first-child
        opacity: 0.7
        color: #191919
        font-size: 16px
        font-weight: 300
      &:last-child
        color: #191919
        font-size: 13px
        font-weight: 700
        line-height: 18px
        padding-top: 7px
        padding-right: 45px
        padding-bottom: 3px
        text-transform: uppercase
        padding-left: 43px
    &--2
      margin-top: 27px
      td
        &:last-child
          padding-left: 19px
          line-height: 18px
          padding-top: 5px
          padding-right: 45px
          padding-bottom: 3px
    &-pay
      padding-left: 15px!important
      padding-top: 4px
      img
        margin-bottom: -2px
  &-select
    padding-top: 27px
    &-label
      opacity: 0.7
      color: #191919
      font-size: 16px
      font-weight: 300
      line-height: 26px
    &-item
      padding-top: 7px
      max-width: 220px
  &-tabs
    padding-top: 33px
    position: relative
    &-list
      position: relative
    &-nav
      ul
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        li
          margin-right: -3px
          a
            font-size: 13px
            font-weight: 600
            text-transform: uppercase
            display: block
            padding: 13px 13px 11px 15px
            border-radius: 3px 0 0 3px
            color: #000
            text-decoration: none
            border: 1px solid transparent
            transition: all 500ms
            &:hover
              opacity: 0.8
          &.active
            a
              border: 1px solid $blue
    &-item
      opacity: 0
      visibility: hidden
      transition: all 500ms
      max-height: 0
      position: absolute
      top: 0
      &.active
        opacity: 1
        max-height: none
        visibility: visible
        position: static
  &-info
    width: 522px
    margin-left: 69px
    border-right: 2px solid #efeeec
    padding-bottom: 50px
    &-top
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
  &-price
    color: #d5313a
    font-size: 36px
    font-weight: 700
    text-transform: uppercase
    padding-top: 17px
    span
      font-family: 'PTRoubleSans'
      font-weight: normal
      font-size: 34px
      text-transform: uppercase
  &-stars
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    margin-left: -2px
    font-size: 14px
    color: #e0e0e0
    padding-top: 33px
  &-star
    margin-right: -3px
    &--active
      color: #ffae00
  &-title
    &-city
      opacity: 0.4
      color: #000000
      font-size: 13px
      font-weight: 700
      text-transform: uppercase
      padding-top: 4px
    &-item
      color: #000000
      font-size: 32px
      font-weight: 700
      text-transform: uppercase
      padding-top: 9px
  &-stock
    padding-top: 8px
    color: #191919
    font-size: 15px
    font-weight: 700
    i
      padding-top: 3px
      display: inline-block
      vertical-align: top
      color: $blue
      &.icon-x
        color: #d5313a
    span
      display: inline-block
      vertical-align: top
      padding-top: 4px
      padding-left: 2px
  &-qty
    margin-top: 55px
    max-width: 80px
    position: relative
    input
      width: 80px
      height: 42px
      border-radius: 21px
      border: 2px solid #efeeec
      background-color: #ffffff
      outline: none
      text-align: center
      color: #8c8c8c
      font-size: 15px
      font-weight: 400
    &-minus
      width: 30px
      height: 30px
      position: absolute
      left: 1px
      top: 8px
      cursor: pointer
      &:hover
        &:after
          background-color: $blue
      &:after
        content: ''
        display: block
        width: 9px
        height: 1px
        background-color: #a7a7a7
        display: block
        cursor: pointer
        margin-left: 15px
        margin-top: 14px
    &-plus
      width: 30px
      height: 30px
      position: absolute
      right: 1px
      top: 8px
      cursor: pointer
      &:hover
        &:after
          background-color: $blue
        &:before
          background-color: $blue
      &:after
        content: ''
        display: block
        width: 9px
        height: 1px
        background-color: #a7a7a7
        display: block
        cursor: pointer
        margin-left: 7px
        margin-top: 14px
      &:before
        content: ''
        display: block
        position: absolute
        width: 1px
        height: 9px
        background-color: #a7a7a7
        margin-left: 11px
        margin-top: 10px
  &-button
    padding-top: 29px
    padding-left: 19px
    a
      width: 42px
      height: 42px
      display: block
      border-radius: 21px
      background-color: $blue
      text-align: center
      line-height: 42px
      text-decoration: none
      color: #fff
      right: 20px
      transition: all 500ms
      position: relative
      width: 146px
      i
        font-size: 12px
        position: absolute
        right: 19px
        top: 3px
      span
        display: inline-block
        overflow: hidden
        text-transform: uppercase
        font-size: 15px
        margin-left: -10px
        transition: all 500ms
    &.yep
      a
        line-height: 46px
        transition: all 100ms
        padding-left: 2px
  &-support
    padding-top: 51px
    margin-left: -7px
    a
      text-decoration: none
      color: $orange
      text-decoration: none
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
      &:hover
        span
          color: $orange
          em
            border: none
      i
        font-size: 35px
      span
        display: block
        color: #191919
        font-size: 14px
        font-weight: 300
        padding-left: 10px
        line-height: 17px
        em
          border-bottom: 1px solid #c5c5c5
  &-bottom
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    -webkit-justify-content: space-between
    -moz-justify-content: space-between
    -ms-justify-content: space-between
    -o-justify-content: space-between
    justify-content: space-between
    &-title
      color: #191919
      font-size: 16px
      font-weight: 700
      text-transform: uppercase
    &-item
      padding-top: 47px
    &-text
      padding-top: 13px
      opacity: 0.7
      color: #191919
      font-size: 14px
      font-weight: 300
      line-height: 18px
  &-description
    padding-top: 30px
    width: 457px
    color: #031313
    font-size: 15px
    font-weight: 300
    padding-top: 11px
    padding-right: 3px
    line-height: 20px
  &-cert
    &-list
      margin-top: 23px
      margin-left: 15px
      li
        color: $orange
        list-style-type: decimal
        font-size: 14px
        font-weight: 300
        padding: 0
        margin: 0
        a
          font-size: 14px
          font-weight: 300
          line-height: 25px
          color: $orange


.selectric
  border-radius: 22px
  border: 2px solid #efeeec
  transition: all 500ms
  &-hover
    .selectric
      border: 2px solid #00adc2
    .button
      &:after
        border-top-color: #00adc2
  &-open
    .selectric
      border-radius: 22px 22px 0 0 
      border: 2px solid #00adc2
    .button
      &:after
        border-top-color: #00adc2
  .label
    height: 41px
    line-height: 41px
    padding-left: 9px
    color: #313131
    font-size: 13px
    font-weight: 700
  .button
    right: 5px
    top: 2px

.reviews
  position: relative
  width: 457px
  margin-top: 32px
  &-header
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
  &-list
    margin-top: -11px
    max-height: 360px
    padding-right: 10px
    width: calc(100% + 10px)
    &::-webkit-scrollbar
      width: 0
  &-photo
    margin-right: 20px
  &-date
    margin-left: auto
  &-name
    color: #031313
    font-size: 15px
    font-weight: 200
    padding-top: 5px
    &-line
      padding-bottom: 8px
  &-stars
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    .icon
      margin-right: -3px
      color: #e0e0e0
      font-size: 14px
      &.product-star--active
        color: #ffae00
  &-date
    font-size: 11px
    font-weight: 200
    color: #b4b7b7
    padding-top: 3px
    span
      padding-left: 5px
  &-content
    color: #031313
    font-size: 13px
    font-weight: 200
    padding-top: 11px
    padding-right: 3px
    line-height: 15px
  &-item
    margin-bottom: 21px
    &:last-child
      margin-bottom: 0
  &-button
    text-align: right
    padding-top: 20px
    a
      display: inline-block
      width: 216px
      height: 46px
      border-radius: 5px
      background-color: $blue
      color: #fff
      font-size: 18px
      font-weight: 300
      padding-left: 58px
      background-image: url(../img/message.png)
      background-repeat: no-repeat
      background-position: 24px 14px
      text-decoration: none
      text-align: left
      line-height: 46px
      &:hover
        background-color: $orange
  &_scroller
    position: absolute
    right: 0px
    width: 3px
    background-color: #ececec
    border-radius: 5px


.filters
  margin-top: 25px
  &-list
    background-color: #fff
    border: 1px solid $blue
  &-item
    border-bottom: 1px solid $blue
    label
      cursor: pointer
  &-content
    display: none
    padding-left: 38px
    font-size: 13px
    padding-bottom: 10px
    color: #333333
    &-item
      margin-bottom: 10px
    &.open
      display: block
  &-title
    padding-left: 20px
    color: #000000
    font-size: 14px
    font-weight: 300
    line-height: 18px
    text-transform: uppercase
    position: relative
    width: 100%
    padding-top: 15px
    cursor: pointer
    padding-bottom: 17px
    &:after
      font-family: "petshop" !important
      font-style: normal !important
      font-weight: normal !important
      font-variant: normal !important
      text-transform: none !important
      speak: none
      line-height: 1
      -webkit-font-smoothing: antialiased
      -moz-osx-font-smoothing: grayscale
      content: '\63'
      display: block
      width: 10px
      height: 4px
      right: 21px
      top: 0
      bottom: 0
      margin: auto
      position: absolute
      right: 19px
      top: -5px
      font-size: 9px
    &.open
      &:after
        transform: rotate(-180deg)
  
  &-link
    position: relative
    display: block
    text-decoration: none
    padding: 0 0 0 20px
    text-transform: lowercase
    font-size: 14px
    color: #000
    &:before
      content: ''
      position: absolute
      display: block
      top: 3px
      left: 0
      width: 10px
      height: 10px
      border: 1px solid #adadad
      z-index: 1
      box-sizing: border-box
    &--active
      &:after
        content: ''
        display: block
        position: absolute
        width: 6px
        height: 6px
        left: 2px
        top: 5px
        background: #adadad
        z-index: 2
        box-sizing: border-box

.category
  &-left
    width: 238px
    margin-left: 2px
  &-content
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
  &-right
    width: 900px
    margin-left: auto


.iradio
  width: 9px
  height: 9px
  border: 1px solid #adadad
  display: inline-block
  position: relative
  margin-right: 9px
  border-radius: 50%
  &.checked
    &:after
      content: ''
      display: block
      position: absolute
      width: 3px
      height: 3px
      background-color: #adadad
      left: 0
      right: 0
      top: 0
      bottom: 0
      border-radius: 50%
      margin: auto


.cart
  &-table
    color: #031313
    margin-top: 42px
    table
      width: 100%
      th

        opacity: 0.7
        color: #191919
        font-size: 13px
        font-weight: 700
        text-transform: uppercase
        text-align: left
        border-bottom: 1px solid #e8e8e8
        padding-top: 2px
        padding-left: 1px
        padding-bottom: 18px
      td
        vertical-align: middle
        padding-top: 15px
        padding-bottom: 17px
        border-bottom: 1px solid #e8e8e8
  &-image
    padding-left: 4px
    padding-top: 31px!important
    width: 143px
    img
      max-width: 90%
      margin: auto
      display: block
  &-title
    max-width: 151px
    vertical-align: middle!important
    padding-bottom: 0!important
    padding-right: 100px
    color: #031313
    font-size: 18px
    font-weight: 400
    &-item
      margin-left: -10px
      color: #191919
      font-size: 16px
      font-weight: 400
      line-height: 26px
      text-transform: uppercase
      padding-top: 15px
    &-small
      text-transform: none
      padding-top: 2px
  &-price
    color: #d5313a
    font-size: 21px
    padding-top: 17px
    font-weight: 700
    text-transform: uppercase
    width: 185px
    span
      font-family: 'PTRoubleSans'
      font-weight: normal
      font-size: 21px
  &-total
    color: #d5313a
    font-size: 21px
    padding-top: 17px
    font-weight: 700
    text-transform: uppercase
    span
      font-family: 'PTRoubleSans'
      font-weight: normal
      font-size: 21px
  &-qty
    margin-top: 55px
    position: relative
    &-box
      position: relative
      max-width: 80px
    input
      width: 80px
      height: 42px
      border-radius: 21px
      border: 2px solid #efeeec
      background-color: #ffffff
      outline: none
      text-align: center
      color: #8c8c8c
      font-size: 15px
      font-weight: 400
    &-minus
      width: 30px
      height: 30px
      position: absolute
      left: 1px
      top: 8px
      cursor: pointer
      &:hover
        &:after
          background-color: $blue
      &:after
        content: ''
        display: block
        width: 9px
        height: 1px
        background-color: #a7a7a7
        display: block
        cursor: pointer
        margin-left: 15px
        margin-top: 14px
    &-plus
      width: 30px
      height: 30px
      position: absolute
      right: 1px
      top: 8px
      cursor: pointer
      &:hover
        &:after
          background-color: $blue
        &:before
          background-color: $blue
      &:after
        content: ''
        display: block
        width: 9px
        height: 1px
        background-color: #a7a7a7
        display: block
        cursor: pointer
        margin-left: 7px
        margin-top: 14px
      &:before
        content: ''
        display: block
        position: absolute
        width: 1px
        height: 9px
        background-color: #a7a7a7
        margin-left: 11px
        margin-top: 10px
  &-sale
    color: #191919
    font-size: 18px
    font-weight: 700
    text-transform: uppercase
    width: 157px
  &-remove
    text-align: left
    padding-top: 34px
    button
      background: none
      border: none
      cursor: pointer
      margin-right: -4px
      outline: none
      color: #d5313a
      &:hover
        opacity: 0.8
      i
        font-size: 17px
        padding-top: 10px
        display: block
  &-bottom
    padding-top: 80px
    padding-bottom: 21px
    &:after
      clear: both
      content: ''
      display: block
    &-left
      width: 530px
      float: left
    &-right
      float: right
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
      width: 538px
    &-weight
      opacity: 0.6
      color: #191919
      font-size: 15px
      font-weight: 400
      line-height: 30px
      text-transform: uppercase
      margin-right: auto
      margin-top: -6px
      line-height: 28px
    &-total
      color: #191919
      font-size: 18px
      font-weight: 300
      line-height: 30px
      text-align: right
      margin-top: -11px
      p
        &>span
          display: inline-block
          min-width: 60px
          text-align: left
          margin-left: 16px
      span
        color: #191919
        font-size: 18px
        font-weight: 700
      &-price
        &--red
          color: #d5313a!important
          span
            color: #d5313a!important
        span
          font-family: 'PTRoubleSans'
          font-weight: normal
          font-size: 18px
  &-text
    &-field
      width: 350px
      height: 45px
      border-radius: 22px
      border: 2px solid #efeeec
      background-color: #fff
      padding-left: 22px
      padding-right: 22px
      outline: none
      display: inline-block
      vertical-align: top
      &--phone
        margin-right: 27px
        width: 350px
  &-promo
    margin-bottom: 50px
    &--mobile
      display: none
  &-button
    width: 146px
    height: 42px
    border-radius: 21px
    background-color: $blue
    color: #fff
    font-size: 18px
    font-weight: 300
    cursor: pointer
    border: none
    display: inline-block
    vertical-align: top
    outline: none
    &:hover
      opacity: 0.8
  &-subtitle
    text-transform: uppercase
    font-size: 21px
    padding-top: 60px
    font-weight: 300
    padding-bottom: 30px
  &-delivery
    padding-top: 55px
    &-item
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
      margin-bottom: 19px
      &--address
        margin-bottom: 52px
    &-label
      width: 177px
      opacity: 0.7
      color: #191919
      font-size: 16px
      font-weight: 300
      line-height: 26px
    &-content
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
    &-radio
      margin-right: 42px
      cursor: pointer
      .iradio
        width: 13px
        height: 13px
        margin-top: 6px
        &.checked
          &:after
            width: 7px
            height: 7px
            border-radius: 4px
            background-color: $blue
            left: 0
            right: 0
            top: 0
            bottom: 0
            margin: auto
      label
        color: #191919
        font-size: 13px
        font-weight: 700
        line-height: 26px
        cursor: pointer
        text-transform: uppercase
    &-text
      input
        width: 350px
        height: 45px
        border-radius: 22px
        border: 2px solid #efeeec
        background-color: #ffffff
        margin-top: -9px
        padding-left: 19px
        padding-right: 19px
        outline: none
    &-logo
      max-width: 123px
      img
        max-width: 100%


.pickup
  &-list
    margin-bottom: 50px

.image
  &-mobile
    display: none


.modal
  max-width: 700px
  text-align: left
  padding: 38px
  &--forgot
    max-width: 441px
  &--register
    max-width: 540px
  &-register
    &-title
      color: #031313
      font-size: 26px
      font-weight: 700
      padding-bottom: 30px
      text-transform: uppercase
    &-bottom
      &-info
        color: #191919
        font-size: 13px
        font-weight: 300
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        padding-top: 6px
        -webkit-align-items: center
        align-items: center
        i
          font-size: 15px
          margin-left: -2px
          color: #606060
          margin-right: 10px
        a
          color: $blue
    &-form
      &-content
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        -webkit-flex-wrap: wrap
        -moz-flex-wrap: wrap
        -ms-flex-wrap: wrap
        -o-flex-wrap: wrap
        flex-wrap: wrap
        position: relative
        padding-bottom: 38px
        &:after
          content: ''
          display: block
          width: calc(100% + 76px)
          margin-left: -38px
          position: absolute
          height: 1px
          background-color: #e8e8e8
          bottom: 0
      label
        color: #313131
        font-size: 14px
        font-weight: 300
        padding-bottom: 8px
        display: block
        span
          color: #e61919
      .modal-form-field
        margin-bottom: 18px
        &--inline
          display: -webkit-flex
          display: -moz-flex
          display: -ms-flex
          display: -o-flex
          display: flex
          label
            width: 411px
            margin-left: 13px
            font-size: 12px
            font-weight: 300
            line-height: 16px
            cursor: pointer
      .icheckbox
        width: 12px
        height: 12px
        border-radius: 50%
        border: 1px solid #adadad
        cursor: pointer
        margin-top: 2px
        .iCheck-helper
          z-index: 222
        &.checked
          &:after
            content: ''
            display: block
            width: 8px
            height: 8px
            background-color: $blue
            border-radius: 50%
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            margin: auto
  &-forgot
    &-title
      font-size: 26px
      font-weight: bold
      color: #031313
      text-transform: uppercase
      padding-bottom: 26px
    &-text
      color: #191919
      font-size: 16px
      font-weight: 300
      padding-bottom: 29px
  .remodal
    &-close
      color: #d5313a
      right: 0
      left: auto
      right: 10px
      top: 12px
      &:before
        font-size: 38px
  &-form
    &-field
      width: 100%
      margin-bottom: 10px
      &--half
        width: 48%
        &:nth-child(2n)
          margin-left: auto
    &-help
      color: #191919
      font-size: 14px
      font-weight: 300
      line-height: 24px
      margin-top: -5px
      span
        color: #e61919
        margin-right: 10px
  &-field
    &-text
      width: 100%
      height: 46px
      border-radius: 23px
      outline: none
      border: 2px solid #efeeec
      background-color: #ffffff
      padding-left: 22px
      padding-right: 22px
    &-help
      opacity: 0.5
      color: #313131
      font-size: 12px
      font-weight: 300
      padding-top: 9px
    &-submit
      border-radius: 21px
      background-color: $blue
      height: 42px
      border: none
      padding-left: 27px
      padding-right: 27px
      color: #ffffff
      font-size: 15px
      font-weight: 400
      outline: none
      cursor: pointer
      text-transform: uppercase
      transition: all 300ms
      &:hover
        opacity: 0.8
    &-link
      margin-left: 19px
      color: $blue
      font-size: 15px
      font-weight: 400
      text-decoration: underline
      &:hover
        text-decoration: none
  &-login
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    &-right
      width: 270px
      &-title
        color: #031313
        font-size: 20px
        font-weight: 700
        text-transform: uppercase
        padding-top: 5px
      &-social
        &-title
          font-size: 16px
          color: #191919
          font-weight: 700
          padding-bottom: 22px
          margin-left: -4px
          margin-top: 43px
        &-links
          display: -webkit-flex
          display: -moz-flex
          display: -ms-flex
          display: -o-flex
          display: flex
          a
            text-decoration: none
            font-size: 36px
          &--ok
            color: #f58220
            margin-left: -12px
            font-size: 35px!important
          &--vk
            color: #4d75a2
            margin-left: 17px
            font-size: 42px!important
          &--fb
            color: #4267b2
            margin-left: 17px
          &--tw
            color: #1da1f2
            margin-left: 17px

      &-button
        a
          margin-top: 52px
          width: 242px
          line-height: 42px
          color: #fff
          text-transform: uppercase
          font-size: 15px
          text-align: center
          text-decoration: none
          height: 42px
          display: block
          border-radius: 21px
          background-color: $blue
        &-2
          a
            display: block
            width: 250px
            text-transform: uppercase
            color: $orange
            text-decoration: none
            border: 2px solid $orange
            border-radius: 29px
            padding-left: 26px
            padding-right: 10px
            padding-top: 13px
            padding-bottom: 9px
            margin-top: 64px
            margin-left: -2px
            letter-spacing: -0.5px
            transition: all 300ms
            &:hover
              background-color: $orange
              color: #fff
            span
              display: block
              font-size: 13px
              font-weight: 300
              text-transform: none
              margin-top: 2px
              letter-spacing: 0
    &-middle
      color: #031313
      font-size: 15px
      font-weight: 400
      margin-left: 33px
      margin-right: 27px
      -webkit-align-self: center
      align-self: center
      padding-top: 4px
      padding-bottom: 79px
    &-buttons
      padding-top: 4px
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
      -webkit-align-items: center
      -ms-align-items: center
      align-items: center
    &-title
      color: #031313
      font-size: 26px
      font-weight: 700
      text-transform: uppercase
      padding-bottom: 28px
    &-left
      width: 267px
    &-field
      padding-bottom: 17px
      label
        font-size: 14px
        font-weight: 300
        letter-spacing: 0.1px
        display: block
        padding-bottom: 8px


@import "responsive"